/* Geral  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('../assets/img/infra-cine.jpg') no-repeat center center;
  background-size: cover;
}

/* Container padrão */
.container-default {
  max-width: 1280px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  margin: 0 auto;
}

/* Header */
header {
  height: 250px;
  background: url('../assets/img/cinema.png') no-repeat center center !important;
  background-size: cover;
}

/* Título */

.titulo_principal {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.titulo_principal::after {
  content: '';
  max-width: 200px;
  width: 100%;
  height: 3px;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 5px;
}

.titulo_principal::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: url('../assets/img/clapboard.png') no-repeat center center;
  background-size: cover;
  margin-right: 10px;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
  .titulo_principal {
    font-size: 20px;
  }
  
  .titulo_principal::after {
    content: '';
    max-width: 150px;
  }
}

/* Conteúdo principal */
.main {
  min-height: 100vh;
}


/* Footer */
footer {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 20px 10px;
  border-top: 2px solid #fff;
}

footer img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

footer p {
  font-size: 16px;
  margin-right: 10px;
}

footer a {
  transition: all 0.3s;
}

footer a:hover {
  transform: scale(0.9);
}

@media screen and (min-width: 10px) and (max-width: 600px) {
  footer p {
    font-size: 12px;
  }
}